In [2]:
import pandas as pd

data = pd.read_csv('Mall_Customers.csv')
data

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans, DBSCAN
from sklearn.metrics import silhouette_score

# # Buat dataset buatan
# X, y = make_blobs(n_samples=300, centers=4, cluster_std=0.60, random_state=0)

# # Konversi data menjadi DataFrame
# data = pd.DataFrame(X, columns=['Annual Income (k$)', 'Spending Score (1-100)'])

df = pd.read_csv('Mall_customers.csv')

data = pd.DataFrame(X, columns=['Annual Income (k$)', 'Spending Score (1-100)'])

# Clustering menggunakan KMeans
kmeans = KMeans(n_clusters=4)
data['KMeans_Cluster'] = kmeans.fit_predict(X)

# Clustering menggunakan DBSCAN
dbscan = DBSCAN(eps=0.5, min_samples=5)
data['DBSCAN_Cluster'] = dbscan.fit_predict(X)

# Visualisasi hasil KMeans
plt.figure(figsize=(12, 6))

plt.subplot(1, 2, 1)
plt.scatter(data['Annual Income (k$)'], data['Spending Score (1-100)'], c=data['KMeans_Cluster'], cmap='viridis', marker='o')
plt.title('KMeans Clustering')
plt.xlabel('Annual Income (k$)')
plt.ylabel('Spending Score (1-100)')

# Visualisasi hasil DBSCAN
plt.subplot(1, 2, 2)
plt.scatter(data['Annual Income (k$)'], data['Spending Score (1-100)'], c=data['DBSCAN_Cluster'], cmap='viridis', marker='o')
plt.title('DBSCAN Clustering')
plt.xlabel('Annual Income (k$)')
plt.ylabel('Spending Score (1-100)')

plt.tight_layout()
plt.show()

# Hitung dan cetak silhouette score untuk masing-masing metode
kmeans_silhouette = silhouette_score(X, data['KMeans_Cluster'])
dbscan_silhouette = silhouette_score(X, data['DBSCAN_Cluster'])

print(f'Silhouette Score KMeans: {kmeans_silhouette}')
print(f'Silhouette Score DBSCAN: {dbscan_silhouette}')

ValueError: Length of values (300) does not match length of index (200)